.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

.counter {
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.counter h1 {
  font-size: 50px;
  text-align: center;
}

.bouttons {
  display: flex;
  gap: 10px;
}

.bouttons button {
  flex-grow: 1;
  background-color: blue;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.red {
  color: red;
}

.green {
  color: green;
}

.pas button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  margin: 10px;
  background-color: blanchedalmond;
}